@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 14%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14%;
    --primary: 0 0% 14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 14%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 55%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 14%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 91%;
    --input: 0 0% 91%;
    --ring: 0 0% 14%;
    --radius: 0.375rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 25%;
    --sidebar-primary: 0 0% 14%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 96%;
    --sidebar-accent-foreground: 0 0% 14%;
    --sidebar-border: 0 0% 91%;
    --sidebar-ring: 0 0% 14%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
